*{
	margin: 0;
	padding: 0;
}

:root{
	--Green: #c5f82a;
	--White: #ffffff;
	--Grey: #333333;
	--Dark-Grey: #1f1f1f;
	--Off-Black: #141414;
}
@font-face {
	font-family: inter;
	src: url("./assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}
html body{
	background-color: var(--Off-Black);
	font-family: inter;
	overflow: hidden;
	user-select: none;
}

.wrap{
	/* height: 100vh;
	width: 100vw; */
	display: flex;
	align-items: center;
	justify-content: center;
}

.profile{
	margin-top: 100px;
	background-color: var(--Dark-Grey);
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	height: 570px;
	width: 400px;
	border-radius: 8px;
	padding: 2.5rem 1rem;
}

img{
	border-radius: 50%;
	width: 5rem;
	margin-bottom: 1.5rem;
	font-family: inherit;
}

#name{
	margin-block: .5rem;
	color: var(--White);

}

#location{
	color: var(--Green);
	font-size: 14px;
	margin-block: .5rem;
	margin-bottom: 1rem;
}

#profession{
	color: var(--White);
	margin-block: 1.5rem;
	font-size: 14px;
}

.links{
	display: flex;
	flex-direction: column;
	width: 350px;
}

.link-btn{
	height: 3rem;
	background-color: var(--Grey);
	border: none;
	margin: .5rem 0;
	border-radius: 8px;
	color: var(--White);
	font-size: 14px;
	font-family: inter;
	font-weight: bold;
}

.link-btn:hover{
	background-color: var(--Green);
	color: var(--Off-Black);
	cursor: pointer;
}